html, body {
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 300px;
    border: 0;
    padding: 0;
    margin: 0;
    background: #EEE;
    font-family: RobotoLight, sans-serif;
    overflow: hidden;
}

@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoMedium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: RobotoRegular;
    src: url('../fonts/Roboto-Regular.ttf');
}

::-webkit-input-placeholder {
    color: #BBB;
    font-size: 17px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #BBB;
    font-size: 17px;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #BBB;
    font-size: 17px;
}

:-ms-input-placeholder {
    color: #BBB;
    font-size: 17px;
}

.loginLoader {
    display: none;
    color: white !important;
}

.mainUnderlay {
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 300px;
    background: url('../images/artwork.png') #FFF;
    background-size: 1200px 1200px;
    position: fixed;
    z-index: 0;
}

.contentOverlay {
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    z-index: 100;
    display: none;
}

.menuTop {
    height: 80px;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background: #fff;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);*/
}

.menuLogo {
    float: left;
    margin-left: 20px;
    height: 40px;
}

.menuLeft {
    height: 100%;
    float: left;
    width: 250px;
    background: #1A1A1E;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.menuTitle {
    float: left;
    height: 100%;
    font-size: 25px;
    margin-left: 20px;
    color: #000;
    box-sizing: border-box;
    padding-top: 7.5px;
}

.avatarBox {
    float: right;
    margin-right: 30px;
    height: 40px;
    width: 40px;
    background: #EEE;
}

.profileBox {
    float: right;
    margin-right: 10px;
    height: 40px;
    width: 300px;
    color: #000;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 20px;
    text-align: right;
}

.mainContent {
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    background: #f8f8f8;
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);*/
}

.menuOptionGroup {
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    display: inline-block;
    padding: 20px 0px 20px 0px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 2px;
}

.menuGroupLabel {
    text-align: left;
    width: 100%;
    padding-left: 30px;
    font-size: 15px;
    color: #777;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.menuOption {
    float: top;
    height: 40px;
    width: 100%;
    color: #777;
    cursor: pointer;
    transition: all ease .5s;
}

.menuOption:hover {
    background: rgba(255, 255, 255, 0.05);
    color: #CCC;
}

.menuOptionSelect {
    height: 100%;
    width: 5px;
    float: left;
}

.optionSelected > .menuOptionSelect {
    background: sandybrown;
}

.optionSelected {
    color: white;
}

.menuOptionIcon {
    height: 100%;
    width: 40px;
    float: left;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px 0px 10px 20px;
}

.menuOptionText {
    float: left;
    height: 100%;
    width: 200px;
    padding: 11.5px 20px 11.5px 20px;
    box-sizing: border-box;
    font-size: 17px;
    text-align: left;
}

.menuHeaderLogo {
    height: 35px;
    margin: 0 auto;
}

.menuSection {
    float: left;
    height: 100%;
    font-size: 17px;
    margin-left: 10px;
    color: #CCC;
    box-sizing: border-box;
    font-family: RobotoLight;
    padding-top: 13px;
}

.fillContent {
    width: 100%;
    min-width: 500px;
    overflow-y: auto;
    height: calc(100% - 80px);
    text-align: center;
    box-sizing: border-box;
}

.majorBoxes {
    display: inline-block;
    width: 465px;
    height: 300px;
    background: #FFF;
    margin: 15px;
    vertical-align: top;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);*/
}

.fullBoxes {
    display: inline-block;
    width: 960px;
    height: 300px;
    background: #FFF;
    margin: 15px;
    vertical-align: top;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);*/
}

.statsBoxes {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: #FFF;
    margin: 15px;
    vertical-align: top;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);*/
    transition: all ease .5s;
    pointer-events: none;
}

.actionButton {
    display: inline-block;
    cursor: pointer;
    background: cornflowerblue;
    height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 2px;
    padding: 12.5px 15px 12.5px 15px;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-family: RobotoLight,sans-serif;
    text-transform: uppercase;
    pointer-events: auto;
}

.statsBoxes:hover {
    /*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);*/
}

.statsDesc {
    width: 80%;
    font-size: 15px;
    color: #666;
    margin: 0 auto;
    margin-top: 15px;
}

.tintRed {
    background: rgba(255, 0, 0, 0.2);
}

.tintBlue {
    background: rgba(70, 143, 222, 0.2);
}

.tintGreen {
    background: rgba(154, 205, 50, 0.2);
}

.tintGrey {
    background: rgba(50, 50, 50, 0.2);
}

.statsTint {
    height: 175px;
    width: 100%;
}

.statsTintText {
    width: 100%;
    color: #000;
    font-size: 25px;
    text-align: center;
}

.statsIcon {
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: rgba(0, 0, 0, 0.05);
    font-size: 80px;
    text-align: center;
}

.statsContent {
    height: 125px;
    width: 100%;
    text-align: center;
}

.comingSoonBox {
    display: inline-block;
    width: 465px;
    height: 300px;
    background: #FFF;
    margin: 15px;
    vertical-align: top;
    font-size: 25px;
    box-sizing: border-box;
    padding: 100px 30px 100px 30px;
    color: #555;
}

.userInfo {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    background: white;
    cursor: pointer;
}

.userInfo:hover {
    background: #EEE;
}

.userInfoName {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.userInfoEmail {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.userInfoRole {
    width: 100%;
    margin-top: 15px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #333;
    color: white;
    font-weight: bold;
}

#viewQuizSettings {
    width: 100%;
    height: 100%;
}

.quizModifyName {
    padding: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    width: 300px;
    box-sizing: border-box;
}

.quizList {
    float: left;
    width: 400px;
    background: white;
    height: 100%;
}

.quizListItem {
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.quizModifyOption {
    padding: 20px;
    font-size: 17px;
    background: white;
    display: inline-block;
    margin-top: 10px;
    width: 300px;
    box-sizing: border-box;
    cursor: pointer;
}

.quizModiftOption:hover {
    background: #EEE;
}

.quizListItem:hover {
    background: #EEE;
}

.questionEditButton {
    float: right;
    margin-right: 10px;
    text-transform: uppercase;
    color: #006699;
}

.styleBox {
    margin: 15px;
    height: 320px;
    width: 270px;
    background: white;
    display: inline-block;
    cursor:pointer;
}

.styleBox:hover {
    background: #eee;
}

.styleImage {
    width: 100%;
    height: 150px;
    background: sandybrown;
    overflow: hidden;
}

.styleTitle {
    width: 100%;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    text-align: center;
}

.styleDesc {
    width: 100%;
    font-size: 17px;
    padding: 0px 15px 10px 15px;
    box-sizing: border-box;
    text-align: center;
}

.styleActive {
    color: green;
    width: 50%;
    float: left;
}

.styleDeactive {
    color: red;
    width: 50%;
    float: left;
}

.editStyle {
    width: 50%;
    float: right;
}

/* ADMIN MENU */
.adminSectionMenu {
    width: 100%;
    height: 50px;
    background: #F8BB40;
    margin-bottom: 20px;
}

.sectionMenuButton {
    display: inline-block;
    height: 100%;
    float: left;
    padding: 17px;
    font-size: 16px;
    box-sizing: border-box;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.05);
    color: #555;
    cursor: pointer;
}

.sectionMenuButton:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #000;
}

.optionOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.optionOverlayContent {
    margin: 0 auto;
    width: 700px;
    height: 600px;
    background: white;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.optionOverlaySpacer {
    width: 100%;
    height: calc((100% - 600px) / 2);
}

.optionOverlayClose {
    top: 0;
    right: 0;
    float: right;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.optionOverlayClose:hover {

    background: rgba(0, 0, 0, 0.1);
    color: #000;
}

.optionSectionTitle {
    padding-top: 50px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.dashboardInput {
    width: 400px;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 20px;
    outline: none;
    border: 0;
    margin: 0 auto;
    display: inline-block;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}

.dashboardInputSmall {
    width: 200px;
}

.actionButtonRed {
    background: salmon;
    color: white;
}

.actionButtonGrey {
    background: #EEE;
    color: black;
}

.actionButtonYellow {
    background: #F8BB40;
    color: black;
}

.actionButtonGreen {
    background: yellowgreen;
    color: black;
}

.styleUploadImages {
    margin-top: 20px;
    padding: 10px;
    height: 100px;
    min-width: 100%;
    background: #EEE;
    box-sizing: border-box;
    display: inline-block;
    overflow-x: auto;
}

.styleUploadImage {
    white-space: nowrap;
    margin-left: 10px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    float: left;
}

.styleUploadNone {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    color: #999;
    display: inline-block;
    width: 100%;
}

.styleUploadIMG{
    height: 100%;
}

.deleteImage {
    float:left;
    width: 30px;
    height: 80px;
    box-sizing: border-box;
    padding: 30px 5px 30px 5px;
    font-size: 20px;
    color: white;
    background: salmon;
}