<div class="statsBoxes">
    <div class="statsTint tintBlue">
        <div class="statsIcon">
            <i class="fa fa-image"></i>
            <span style="color: rgba(0,0,0,0.2); margin-left: 10px; ">{{ styles.length }}</span>
        </div>
        <div class="statsTintText">Lookbook Styles</div>
    </div>
    <div class="statsContent">
        <div class="statsDesc">Add, Delete, Modify Lookbook styles from CasaNyla.</div>
        <div class="actionButton">Manage Styles</div>
    </div>
</div>
<div class="statsBoxes">
    <div class="statsTint tintGreen">
        <div class="statsIcon">
            <i class="fa fa-tasks"></i>
            <span style="color: rgba(0,0,0,0.2); margin-left: 10px; "> {{ projects.length }}</span>
        </div>
        <div class="statsTintText">Projects</div>
    </div>
    <div class="statsContent">
        <div class="statsDesc">Manage ongoing or completed customer projects.</div>
        <div class="actionButton">View Projects</div>
    </div>
</div>
<div class="statsBoxes">
    <div class="statsTint tintRed">
        <div class="statsIcon">
            <i class="fa fa-users"></i>
            <span style="color: rgba(0,0,0,0.2); margin-left: 10px; "> {{ getClientCount() }} </span>
        </div>
        <div class="statsTintText">Customers</div>
    </div>
    <div class="statsContent">
        <div class="statsDesc">Get customer details, view projects history and more.</div>
        <div class="actionButton">Customer Manager</div>
    </div>
</div>
