<div class="adminSectionMenu animated fadeInDown">
    <div class="sectionMenuButton" ng-click="addQuestion()"><i class="fa fa-plus"></i>&nbsp;New Question</div>
</div>

<div ng-repeat="question in questionModel" ng-click="editSelectedQuestion(question._id)" class="animated fadeInUp questionBox" >
    <div class="questionLabel">Question {{$index + 1}}</div>
    <br>
    <div class="questionTitle">{{question.name}}</div>

    <div class="questionActive" ng-show="question.active">
        <i class="fa fa-toggle-on" style="color: green;"></i> &nbsp;ACTIVE
    </div>
    <div class="questionDeactive" ng-show="!question.active">
        <i class="fa fa-toggle-on fa-rotate-180" style="color: salmon;"></i> &nbsp;DEACTIVE
    </div>
</div>

