<div class="adminSectionMenu">
    <div class="sectionMenuButton" ng-click="addUser()">
        <i class="fa fa-plus"></i>&nbsp;Add User
    </div>
</div>

<div ng-repeat="user in users" ng-click="editUser(user._id)" class="userInfo">
    <div class="userInfoName">{{user.name}}</div>
    <div class="userInfoEmail">{{user.email}}</div>
    <div class="userInfoRole">{{user.role}}</div>
</div>

<div class="optionOverlay">
    <div class="optionOverlaySpacer"></div>
    <div class="optionOverlayContent">
        <div class="optionOverlayClose" ng-click="closeOptionOverlay()">X</div>

        <div class="optionSection" ng-show="userControllerView == userControllerViews.addUser">
            <div class="optionSectionTitle">Add New CasaNyla User</div>
            <input class="dashboardInput" type="text" ng-model="addNewUser.name" placeholder="Full Name">
            <input class="dashboardInput" type="text" ng-model="addNewUser.email" placeholder="Email Address">
            <input class="dashboardInput" type="password" ng-model="addNewUser.password" placeholder="Password">
            <select class="dashboardInput" ng-model="addNewUser.role">
                <option value="admin">Admin</option>
                <option value="manager">Manager</option>
                <option value="designer">Designer</option>
                <option value="client" selected>Client</option>
            </select>
            <br><br>
            <div class="actionButton actionButtonGrey" ng-click="closeOptionOverlay()">CANCEL</div>
            <div class="actionButton actionButtonBlue" ng-click="postUser()">ADD USER</div>
        </div>

        <div class="optionSection" ng-show="userControllerView == userControllerViews.editUser">
            <div class="optionSectionTitle">Edit CasaNyla User</div>
            <input class="dashboardInput" type="text" ng-model="selectedUser.name" placeholder="Full Name">
            <input class="dashboardInput" type="text" ng-model="selectedUser.email" placeholder="Email Address">
            <select class="dashboardInput" ng-model="selectedUser.role">
                <option value="admin">Admin</option>
                <option value="manager">Manager</option>
                <option value="designer">Designer</option>
                <option value="client" selected>Client</option>
            </select>
            <br><br>
            <div class="actionButton actionButtonGrey" ng-click="closeOptionOverlay()">CANCEL</div>
            <div class="actionButton actionButtonRed" ng-click="deleteUser()">DELETE USER</div>
            <div class="actionButton actionButtonYellow">UPDATE USER</div>
        </div>

    </div>
</div>