<div class="header">

    <div class="headerSpacer spacerLeft">

        <div class="menuBox" ng-click="menuClicked()">
            <img src="../images/MENU.png" style="height: 30px; width: 30px; float: left; margin-top: 15px;">
        </div>
    </div>

    <img class='logoButton' src="../images/casanyla.png" ng-click="menuHomeClick()">

    <div class="headerSpacer spacerRight ">
        <div class="menuBox menuLogin hideMobile" style="background: #fbbb38;" ng-click="menuContactUsClick()">
            <div class="menuTriggerText" style="font-family: RobotoRegular, sans-serif;">
                CONTACT US
            </div>
        </div>
    </div>


</div>

<div class="header-section">
    <div class="header-section-buttons" ng-click="menuHowItWorksClick()">How It Works</div>
    <div class="header-section-buttons" ng-click="menuBrowseClick()">Browse Our Styles</div>
    <div class="header-section-buttons" ng-click="menuContactUsClick()">Get In Touch</div>
</div>