<div class="coverContainer" ng-click="coverContainerClose()">
    <div class="coverBG" style="background: #F8BB40;"></div>
    <div class="coverFG">
        <div class="coverTop">
            <div class="coverTitle">This style is called <b>{{currentStyle.styleObject.name}}</b>!</div>
            <div class="coverSubtitle">We hope you love it.</div>
        </div>
        <div class="coverBottom">
            <div class="coverImage">
                <img src='../platform-assets/styles/covers/clear-images/{{currentStyle.styleObject.cover_pic}}"'
                     class='coverPic'>
            </div>
            <div class="coverText">
                <span class="coverTextBox">{{currentStyle.styleObject.description}}</span><br><br><br><br>
                <div class="actionButton" style="margin: 0 auto;">VIEW ROOMS</div>
            </div>
        </div>
    </div>
</div>

<div class="resultCard">
    <div class="styleContainer">
        <div class="headerSpace">
            <header-menu-beta></header-menu-beta>
        </div>

        <div class="imageViewPanel">
            <img class="imageViewIMG"
                 ng-src="../platform-assets/styles/{{currentStyle.styleObject.name}}/{{currentImageFile}}">
        </div>

        <div class="viewMore" ng-click="menuBrowseClickStyle()">VIEW OTHER STYLES</div>

        <div class="infoPanel">
            <div class="styleViewTitle">
                <span style="font-size: 13px; color: #F8BB40;;">THIS STYLE IS CALLED</span><br>{{currentStyle.styleObject.name}}
            </div>
            <div class="styleViewDesc">
                {{currentStyle.styleObject.description}}

                <br><br>

                <div class='likeButton likeStyle' ng-click="likeStyle()">
                    <i class="changeHeartStyle fa fa-heart-o" style="color: darkred !important;"></i>
                    <span class="hideMobile">&nbsp;&nbsp;Style</span>
                </div>
                <div class='likeButton likeRoom' ng-click="likeRoom()">
                    <i class="changeHeartRoom fa fa-heart-o" style="color: yellowgreen !important;"></i>
                    <span class="hideMobile">&nbsp;&nbsp;Room</span>
                </div>
                <div class="iconContainer">
                    <i class="fa fa-facebook-square shareStyle facebookStyle" ng-click="fbShare()"></i>
                </div>
            </div>

            <div class="optionMenu">

                <div class="actionButton actionButtonDarkGrey" ng-click="callDesigner()">CALL A DESIGNER</div>

                <div class="imageNext">
                    <span style="font-size: 15px; color: #777;">NEXT IMAGE: </span>
                    {{currentStyle.styleObject.images[(currentStyle.currentImage+1)%currentStyle.styleObject.images.length].name}}
                </div>
                <div style="width: 350px; height: 60px;">
                    <div class="viewNav leftNav" ng-click="leftNavClick()">
                        <i class="fa fa-angle-left navAngles"></i>
                    </div>

                    <div class="centerNav">
                        <span style="font-size: 10px; color: #777;">YOU ARE VIEWING</span><br>
                        {{currentStyle.styleObject.images[currentStyle.currentImage].name}}
                    </div>

                    <div class="viewNav rightNav" ng-click="rightNavClick()">
                        <i class="fa fa-angle-right navAngles"></i>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
